:root {
  --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
}

.main-container {
  overflow: hidden;
}

.main-container,
.main-container * {
  box-sizing: border-box;
}

input,
select,
textarea,
button {
  outline: 0;
}

.main-container {
  position: relative;
  width: 397px;
  height: 932px;
  margin: 0 auto;
}
.courier-app {
  position: relative;
  width: 397.616px;
  height: 852.649px;
  margin: 1px 0 0 0;
  background: #f8fafa;
  z-index: 2;
  overflow: visible auto;
}
.pwa-test {
  position: relative;
  width: 397px;
  height: 853px;
  margin: -1px 0 0 0;
  background: #ffffff;
  z-index: 1;
  overflow: visible auto;
}
.container {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 7.996px;
  position: relative;
  width: 174px;
  height: 58px;
  margin: 6px 0 0 14px;
  z-index: 80;
}
.image {
  flex-shrink: 0;
  position: relative;
  width: 47px;
  height: 44px;
  background: rgba(255, 255, 255, 0)
    url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2026-04-01/UDGF7MwdBG.png)
    no-repeat center;
  background-size: cover;
  z-index: 81;
  overflow: hidden;
  border-radius: 19.995px;
}
.text {
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 104.159px;
  height: 19.984px;
  z-index: 82;
}
.go-everywhere {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 20px;
  color: #111827;
  font-family: Poppins, var(--default-font-family);
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  text-align: left;
  white-space: nowrap;
  z-index: 83;
}
.courier-app-1 {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 11.999px;
  position: relative;
  width: 390px;
  height: 44px;
  margin: 8px 0 0 4px;
  padding: 0 0 0 15.992px;
  background: #ffffff;
  border-top: 0.72px solid #e5e7eb;
  z-index: 84;
}
.button {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 19.995px;
  height: 19.995px;
  z-index: 85;
}
.icon {
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  min-width: 0;
  height: 19.995px;
  background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2026-04-01/93wuPxaS9m.png)
    no-repeat center;
  background-size: cover;
  z-index: 86;
  overflow: hidden;
}
.text-2 {
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 153.491px;
  height: 19.984px;
  z-index: 87;
}
.delivery-history {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 20px;
  color: #111827;
  font-family: Poppins, var(--default-font-family);
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  text-align: left;
  white-space: nowrap;
  z-index: 88;
}
.container-3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: 1.996px;
  position: relative;
  width: 358.007px;
  height: 83.973px;
  margin: 44.99px 0 0 19.805px;
  padding: 15.992px 15.992px 0 15.992px;
  background: #40915e;
  z-index: 3;
  border-radius: 16px;
}
.paragraph {
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  min-width: 0;
  height: 15.005px;
  z-index: 4;
}
.total-today {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 15px;
  top: 0.44px;
  left: 0;
  color: rgba(255, 255, 255, 0.4);
  font-family: Inter, var(--default-font-family);
  font-size: 10px;
  font-weight: 400;
  line-height: 15px;
  text-align: left;
  white-space: nowrap;
  z-index: 5;
}
.container-4 {
  display: flex;
  align-items: center;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 15.992px;
  position: relative;
  min-width: 0;
  height: 34.989px;
  z-index: 6;
}
.paragraph-5 {
  flex-shrink: 0;
  position: relative;
  width: 85.106px;
  height: 31.995px;
  z-index: 7;
}
.euro {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 32px;
  top: 0.56px;
  left: 0;
  color: #ffffff;
  font-family: Poppins, var(--default-font-family);
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  text-align: left;
  white-space: nowrap;
  z-index: 8;
}
.container-6 {
  flex-shrink: 0;
  position: relative;
  width: 1px;
  height: 23.999px;
  background: rgba(255, 255, 255, 0.1);
  z-index: 9;
}
.container-7 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 0px;
  position: relative;
  width: 99.897px;
  height: 34.989px;
  z-index: 10;
}
.paragraph-8 {
  display: flex;
  align-items: flex-start;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  min-width: 0;
  height: 19.984px;
  z-index: 11;
}
.span-entregas {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 20px;
  color: #ffffff;
  font-family: Poppins, var(--default-font-family);
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  text-align: left;
  white-space: nowrap;
  z-index: 12;
}
.paragraph-9 {
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  min-width: 0;
  height: 15.005px;
  z-index: 13;
}
.span-media {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 15px;
  top: 0.44px;
  left: 0;
  color: rgba(255, 255, 255, 0.4);
  font-family: Inter, var(--default-font-family);
  font-size: 10px;
  font-weight: 400;
  line-height: 15px;
  text-align: left;
  white-space: nowrap;
  z-index: 14;
}
.container-a {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 11.999px;
  position: relative;
  width: 358.007px;
  height: 65.424px;
  margin: 11.999px 0 0 19.805px;
  padding: 0 13.995px 0 13.995px;
  background: #ffffff;
  border: 0.72px solid #e5e7eb;
  z-index: 15;
  border-radius: 16px;
}
.container-b {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 35.998px;
  height: 35.998px;
  padding: 0 10.003px 0 10.003px;
  background: #dcfce7;
  z-index: 16;
  border-radius: 24082600px;
}
.icon-c {
  flex-shrink: 0;
  position: relative;
  width: 15.992px;
  height: 15.992px;
  background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2026-04-01/qyxOzhcpWH.png)
    no-repeat center;
  background-size: cover;
  z-index: 17;
  overflow: hidden;
}
.container-d {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0;
  gap: 0px;
  position: relative;
  min-width: 0;
  height: 30.996px;
  z-index: 18;
}
.container-e {
  display: flex;
  align-items: center;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 7.996px;
  position: relative;
  height: 15.992px;
  z-index: 19;
}
.paragraph-f {
  flex-shrink: 0;
  position: relative;
  width: 47.235px;
  height: 15.992px;
  z-index: 20;
}
.span-pedro {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 16px;
  top: 0.72px;
  left: 0;
  color: #111827;
  font-family: Inter, var(--default-font-family);
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  text-align: left;
  white-space: nowrap;
  z-index: 21;
}
.text-10 {
  flex-shrink: 0;
  position: relative;
  width: 50.633px;
  height: 13.502px;
  z-index: 22;
}
.span-ord {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 14px;
  top: -0.28px;
  left: 0;
  color: #9ca3af;
  font-family: Inter, var(--default-font-family);
  font-size: 9px;
  font-weight: 400;
  line-height: 13.5px;
  text-align: left;
  white-space: nowrap;
  z-index: 23;
}
.paragraph-11 {
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  height: 15.005px;
  z-index: 24;
}
.span-time {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 15px;
  top: 0.44px;
  left: 0;
  color: #9ca3af;
  font-family: Inter, var(--default-font-family);
  font-size: 10px;
  font-weight: 400;
  line-height: 15px;
  text-align: left;
  white-space: nowrap;
  z-index: 25;
}
.text-12 {
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 41.684px;
  height: 19.984px;
  z-index: 26;
}
.span-euro {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 20px;
  color: #1b8a4a;
  font-family: Poppins, var(--default-font-family);
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  text-align: left;
  white-space: nowrap;
  z-index: 27;
}
.container-13 {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 11.999px;
  position: relative;
  width: 358.007px;
  height: 65.424px;
  margin: 11.999px 0 0 19.805px;
  padding: 0 13.995px 0 13.995px;
  background: #ffffff;
  border: 0.72px solid #e5e7eb;
  z-index: 28;
  border-radius: 16px;
}
.container-14 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 35.998px;
  height: 35.998px;
  padding: 0 10.003px 0 10.003px;
  background: #dcfce7;
  z-index: 29;
  border-radius: 24082600px;
}
.icon-15 {
  flex-shrink: 0;
  position: relative;
  width: 15.992px;
  height: 15.992px;
  background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2026-04-01/z10cTJHgeC.png)
    no-repeat center;
  background-size: cover;
  z-index: 30;
  overflow: hidden;
}
.container-16 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0;
  gap: 0px;
  position: relative;
  min-width: 0;
  height: 30.996px;
  z-index: 31;
}
.container-17 {
  display: flex;
  align-items: center;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 7.996px;
  position: relative;
  height: 15.992px;
  z-index: 32;
}
.paragraph-18 {
  flex-shrink: 0;
  position: relative;
  width: 43.029px;
  height: 15.992px;
  z-index: 33;
}
.sofia-l {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 16px;
  top: 0.72px;
  left: 0;
  color: #111827;
  font-family: Inter, var(--default-font-family);
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  text-align: left;
  white-space: nowrap;
  z-index: 34;
}
.text-19 {
  flex-shrink: 0;
  position: relative;
  width: 51.126px;
  height: 13.502px;
  z-index: 35;
}
.ord {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 14px;
  top: -0.28px;
  left: 0;
  color: #9ca3af;
  font-family: Inter, var(--default-font-family);
  font-size: 9px;
  font-weight: 400;
  line-height: 13.5px;
  text-align: left;
  white-space: nowrap;
  z-index: 36;
}
.paragraph-1a {
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  height: 15.005px;
  z-index: 37;
}
.time-min {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 15px;
  top: 0.44px;
  left: 0;
  color: #9ca3af;
  font-family: Inter, var(--default-font-family);
  font-size: 10px;
  font-weight: 400;
  line-height: 15px;
  text-align: left;
  white-space: nowrap;
  z-index: 38;
}
.text-1b {
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 42.413px;
  height: 19.984px;
  z-index: 39;
}
.euro-1c {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 20px;
  color: #1b8a4a;
  font-family: Poppins, var(--default-font-family);
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  text-align: left;
  white-space: nowrap;
  z-index: 40;
}
.container-1d {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 11.999px;
  position: relative;
  width: 358.007px;
  height: 65.424px;
  margin: 11.999px 0 0 19.805px;
  padding: 0 13.995px 0 13.995px;
  background: #ffffff;
  border: 0.72px solid #e5e7eb;
  z-index: 41;
  border-radius: 16px;
}
.container-1e {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 35.998px;
  height: 35.998px;
  padding: 0 10.003px 0 10.003px;
  background: #dcfce7;
  z-index: 42;
  border-radius: 24082600px;
}
.icon-1f {
  flex-shrink: 0;
  position: relative;
  width: 15.992px;
  height: 15.992px;
  background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2026-04-01/7Di32GSkJZ.png)
    no-repeat center;
  background-size: cover;
  z-index: 43;
  overflow: hidden;
}
.container-20 {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0;
  position: relative;
  min-width: 0;
  height: 30.996px;
  z-index: 44;
}
.container-21 {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 7.996px;
  position: relative;
  width: 226.384px;
  height: 15.992px;
  margin: 0 0 0 0;
  z-index: 45;
}
.paragraph-22 {
  flex-shrink: 0;
  position: relative;
  width: 50.128px;
  height: 15.992px;
  z-index: 46;
}
.tiago-m {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 16px;
  top: 0.72px;
  left: 0;
  color: #111827;
  font-family: Inter, var(--default-font-family);
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  text-align: left;
  white-space: nowrap;
  z-index: 47;
}
.text-23 {
  flex-shrink: 0;
  position: relative;
  width: 50.879px;
  height: 13.502px;
  z-index: 48;
}
.ord-24 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 14px;
  top: -0.28px;
  left: 0;
  color: #9ca3af;
  font-family: Inter, var(--default-font-family);
  font-size: 9px;
  font-weight: 400;
  line-height: 13.5px;
  text-align: left;
  white-space: nowrap;
  z-index: 49;
}
.paragraph-25 {
  position: relative;
  width: 226.384px;
  height: 15.005px;
  margin: 0px 0 0 0;
  z-index: 50;
}
.time-info {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 15px;
  top: 0.44px;
  left: 0;
  color: #9ca3af;
  font-family: Inter, var(--default-font-family);
  font-size: 10px;
  font-weight: 400;
  line-height: 15px;
  text-align: left;
  white-space: nowrap;
  z-index: 51;
}
.text-26 {
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 42.2px;
  height: 19.984px;
  z-index: 52;
}
.price {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 20px;
  color: #1b8a4a;
  font-family: Poppins, var(--default-font-family);
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  text-align: left;
  white-space: nowrap;
  z-index: 53;
}
.container-27 {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 11.999px;
  position: relative;
  width: 358.007px;
  height: 65.424px;
  margin: 11.999px 0 0 19.805px;
  padding: 0 13.995px 0 13.995px;
  background: #ffffff;
  border: 0.72px solid #e5e7eb;
  z-index: 54;
  border-radius: 16px;
}
.container-28 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 35.998px;
  height: 35.998px;
  padding: 0 10.003px 0 10.003px;
  background: #dcfce7;
  z-index: 55;
  border-radius: 24082600px;
}
.icon-29 {
  flex-shrink: 0;
  position: relative;
  width: 15.992px;
  height: 15.992px;
  background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2026-04-01/wJ3cYrTifD.png)
    no-repeat center;
  background-size: cover;
  z-index: 56;
  overflow: hidden;
}
.container-2a {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0;
  position: relative;
  min-width: 0;
  height: 30.996px;
  z-index: 57;
}
.container-2b {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 7.996px;
  position: relative;
  width: 227.292px;
  height: 15.992px;
  margin: 0 0 0 0;
  z-index: 58;
}
.paragraph-2c {
  flex-shrink: 0;
  position: relative;
  width: 37.546px;
  height: 15.992px;
  z-index: 59;
}
.user-info {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 16px;
  top: 0.72px;
  left: 0;
  color: #111827;
  font-family: Inter, var(--default-font-family);
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  text-align: left;
  white-space: nowrap;
  z-index: 60;
}
.text-2d {
  flex-shrink: 0;
  position: relative;
  width: 51.35px;
  height: 13.502px;
  z-index: 61;
}
.order-id {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 14px;
  top: -0.28px;
  left: 0;
  color: #9ca3af;
  font-family: Inter, var(--default-font-family);
  font-size: 9px;
  font-weight: 400;
  line-height: 13.5px;
  text-align: left;
  white-space: nowrap;
  z-index: 62;
}
.paragraph-2e {
  position: relative;
  width: 227.292px;
  height: 15.005px;
  margin: 0px 0 0 0;
  z-index: 63;
}
.time-info-2f {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 15px;
  top: 0.44px;
  left: 0;
  color: #9ca3af;
  font-family: Inter, var(--default-font-family);
  font-size: 10px;
  font-weight: 400;
  line-height: 15px;
  text-align: left;
  white-space: nowrap;
  z-index: 64;
}
.text-30 {
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 41.291px;
  height: 19.984px;
  z-index: 65;
}
.price-31 {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 20px;
  color: #1b8a4a;
  font-family: Poppins, var(--default-font-family);
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  text-align: left;
  white-space: nowrap;
  z-index: 66;
}
.container-32 {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 11.999px;
  position: relative;
  width: 358.007px;
  height: 65.424px;
  margin: 11.999px 0 0 19.805px;
  padding: 0 13.995px 0 13.995px;
  background: #ffffff;
  border: 0.72px solid #e5e7eb;
  z-index: 67;
  border-radius: 16px;
}
.container-33 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 35.998px;
  height: 35.998px;
  padding: 0 10.003px 0 10.003px;
  background: #dcfce7;
  z-index: 68;
  border-radius: 24082600px;
}
.icon-34 {
  flex-shrink: 0;
  position: relative;
  width: 15.992px;
  height: 15.992px;
  background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2026-04-01/BHYwN8zvBZ.png)
    no-repeat center;
  background-size: cover;
  z-index: 69;
  overflow: hidden;
}
.container-35 {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0;
  position: relative;
  min-width: 0;
  height: 30.996px;
  z-index: 70;
}
.container-36 {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 7.996px;
  position: relative;
  width: 225.98px;
  height: 15.992px;
  margin: 0 0 0 0;
  z-index: 71;
}
.paragraph-37 {
  flex-shrink: 0;
  position: relative;
  width: 52.506px;
  height: 15.992px;
  z-index: 72;
}
.carlos-a {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 16px;
  top: 0.72px;
  left: 0;
  color: #111827;
  font-family: Inter, var(--default-font-family);
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  text-align: left;
  white-space: nowrap;
  z-index: 73;
}
.text-38 {
  flex-shrink: 0;
  position: relative;
  width: 51.104px;
  height: 13.502px;
  z-index: 74;
}
.ord-39 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 14px;
  top: -0.28px;
  left: 0;
  color: #9ca3af;
  font-family: Inter, var(--default-font-family);
  font-size: 9px;
  font-weight: 400;
  line-height: 13.5px;
  text-align: left;
  white-space: nowrap;
  z-index: 75;
}
.paragraph-3a {
  position: relative;
  width: 225.98px;
  height: 15.005px;
  margin: 0px 0 0 0;
  z-index: 76;
}
.time-info-3b {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 15px;
  top: 0.44px;
  left: 0;
  color: #9ca3af;
  font-family: Inter, var(--default-font-family);
  font-size: 10px;
  font-weight: 400;
  line-height: 15px;
  text-align: left;
  white-space: nowrap;
  z-index: 77;
}
.text-3c {
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 42.603px;
  height: 19.984px;
  z-index: 78;
}
.price-3d {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 20px;
  color: #1b8a4a;
  font-family: Poppins, var(--default-font-family);
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  text-align: left;
  white-space: nowrap;
  z-index: 79;
}
.footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: 11.999px;
  position: relative;
  width: 397px;
  height: 79px;
  margin: -0.65px 0 0 0;
  padding: 20.713px 19.995px 0 19.995px;
  background: #f8fafa;
  border-bottom: 0.72px solid #e5e7eb;
  z-index: 89;
}
.container-3e {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  min-width: 0;
  height: 23.999px;
  padding: 0 215.753px 0 0;
  z-index: 90;
}
.container-3f {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 7.996px;
  position: relative;
  width: 134.247px;
  height: 23.999px;
  z-index: 91;
}
.container-40 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 23.999px;
  height: 23.999px;
  padding: 0 8.254px 0 8.254px;
  background: #1b8a4a;
  z-index: 92;
  border-radius: 4px;
}
.text-41 {
  flex-shrink: 0;
  position: relative;
  width: 7.491px;
  height: 15.005px;
  z-index: 93;
}
.g {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 15px;
  top: 0.44px;
  left: 0;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 10px;
  font-weight: 700;
  line-height: 15px;
  text-align: left;
  white-space: nowrap;
  z-index: 94;
}
.text-42 {
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 102.252px;
  height: 19.984px;
  z-index: 95;
}
.go-everywhere-43 {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 20px;
  color: #111827;
  font-family: Poppins, var(--default-font-family);
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  text-align: left;
  white-space: nowrap;
  z-index: 96;
}
.paragraph-44 {
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  min-width: 0;
  height: 15.005px;
  z-index: 97;
}
.copyright {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 15px;
  top: 0.44px;
  left: 0;
  color: #9ca3af;
  font-family: Inter, var(--default-font-family);
  font-size: 10px;
  font-weight: 400;
  line-height: 15px;
  text-align: left;
  white-space: nowrap;
  z-index: 98;
}
