:root {
  --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
}

.main-container {
  overflow: hidden;
}

.main-container,
.main-container * {
  box-sizing: border-box;
}

input,
select,
textarea,
button {
  outline: 0;
}

.main-container {
  position: relative;
  width: 397px;
  height: 1245px;
  margin: 0 auto;
}
.pwa-teste {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  position: absolute;
  width: 397px;
  height: 1234px;
  top: 0;
  left: 0;
  padding: 0 3.813px 0 3.813px;
  background: #f8fafa;
}
.courier-login {
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  min-width: 0;
  height: 1234px;
  z-index: 1;
  overflow: hidden;
}
.container {
  position: absolute;
  width: 389.99px;
  height: 1233.779px;
  top: 0;
  left: 0;
  background: #f8faf9;
  z-index: 2;
}
.container-1 {
  position: relative;
  width: 383.217px;
  height: 383.217px;
  margin: 20.071px 0 0 106.881px;
  opacity: 0.13;
  z-index: 4;
  border-radius: 24082600px;
}
.container-2 {
  position: relative;
  width: 180.689px;
  height: 180.689px;
  margin: 393.401px 0 0 -29.337px;
  opacity: 0.1;
  z-index: 5;
  border-radius: 24082600px;
}
.icon {
  position: absolute;
  width: 389.99px;
  height: 1233.779px;
  top: 0;
  left: 0;
  background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2026-04-01/rFrr4B6mK9.png)
    no-repeat center;
  background-size: cover;
  z-index: 3;
  overflow: hidden;
}
.container-3 {
  position: absolute;
  width: 389.99px;
  height: 1233.779px;
  top: 0;
  left: 0;
  z-index: 6;
}
.courier-login-4 {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 6px;
  position: relative;
  width: 341.992px;
  height: 36.996px;
  margin: 55.982px 0 0 23.999px;
  padding: 0 0px 0 0;
  z-index: 10;
}
.container-5 {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0;
  gap: 6px;
  position: relative;
  min-width: 0;
  height: 36.996px;
  z-index: 11;
}
.container-6 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 80.99px;
  height: 3.992px;
  background: #e5e7eb;
  z-index: 12;
  overflow: hidden;
  border-radius: 24082600px;
}
.container-7 {
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  min-width: 0;
  height: 3.992px;
  background: #1b8a4a;
  z-index: 13;
  border-radius: 24082600px;
}
.container-8 {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 3.992px;
  position: relative;
  width: 80.99px;
  height: 27.004px;
  z-index: 14;
}
.icon-9 {
  flex-shrink: 0;
  position: relative;
  width: 11.035px;
  height: 11.999px;
  background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2026-04-01/Qupk2OVt4S.png)
    no-repeat center;
  background-size: cover;
  z-index: 15;
  overflow: hidden;
}
.text {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0;
  position: relative;
  min-width: 0;
  height: 27.004px;
  z-index: 16;
}
.dados-pessoais {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  width: 41px;
  height: 27px;
  top: 0;
  left: 0;
  color: #6b7280;
  font-family: Poppins, var(--default-font-family);
  font-size: 9px;
  font-weight: 500;
  line-height: 13.5px;
  text-align: left;
  z-index: 17;
}
.container-a {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0;
  gap: 6px;
  position: relative;
  min-width: 0;
  height: 36.996px;
  z-index: 18;
}
.container-b {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 81.001px;
  height: 3.992px;
  padding: 0 40.506px 0 0;
  background: #e5e7eb;
  z-index: 19;
  overflow: hidden;
  border-radius: 24082600px;
}
.container-c {
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  min-width: 0;
  height: 3.992px;
  background: #1b8a4a;
  z-index: 20;
  border-radius: 24082600px;
}
.container-d {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 3.992px;
  position: relative;
  width: 81.001px;
  height: 27.004px;
  z-index: 21;
}
.icon-e {
  flex-shrink: 0;
  position: relative;
  width: 11.898px;
  height: 11.999px;
  background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2026-04-01/PgEE3dhZXd.png)
    no-repeat center;
  background-size: cover;
  z-index: 22;
  overflow: hidden;
}
.text-f {
  flex-shrink: 0;
  position: relative;
  width: 65.11px;
  height: 27.004px;
  z-index: 23;
}
.veiculo-e-zona {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  width: 42px;
  height: 27px;
  top: 0;
  left: 0;
  color: #6b7280;
  font-family: Poppins, var(--default-font-family);
  font-size: 9px;
  font-weight: 500;
  line-height: 13.5px;
  text-align: left;
  z-index: 24;
}
.container-10 {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0;
  gap: 6px;
  position: relative;
  min-width: 0;
  height: 23.494px;
  z-index: 25;
}
.container-11 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 81.001px;
  height: 3.992px;
  padding: 0 81.001px 0 0;
  background: #e5e7eb;
  z-index: 26;
  overflow: hidden;
  border-radius: 24082600px;
}
.container-12 {
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  min-width: 0;
  height: 3.992px;
  z-index: 27;
  border-radius: 24082600px;
}
.container-13 {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 3.992px;
  position: relative;
  width: 73.959px;
  height: 13.502px;
  z-index: 28;
}
.icon-14 {
  flex-shrink: 0;
  position: relative;
  width: 11.999px;
  height: 11.999px;
  background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2026-04-01/wAX9VtAttk.png)
    no-repeat center;
  background-size: cover;
  z-index: 29;
  overflow: hidden;
}
.text-15 {
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 57.967px;
  height: 13.502px;
  z-index: 30;
}
.documentos {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 14px;
  color: #d1d5db;
  font-family: Poppins, var(--default-font-family);
  font-size: 9px;
  font-weight: 500;
  line-height: 13.5px;
  text-align: left;
  white-space: nowrap;
  z-index: 31;
}
.container-16 {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0;
  gap: 6px;
  position: relative;
  min-width: 0;
  height: 36.996px;
  z-index: 32;
}
.container-17 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 81.001px;
  height: 3.992px;
  padding: 0 81.001px 0 0;
  background: #e5e7eb;
  z-index: 33;
  overflow: hidden;
  border-radius: 24082600px;
}
.container-18 {
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  min-width: 0;
  height: 3.992px;
  z-index: 34;
  border-radius: 24082600px;
}
.container-19 {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 3.992px;
  position: relative;
  width: 81.001px;
  height: 27.004px;
  z-index: 35;
}
.icon-1a {
  flex-shrink: 0;
  position: relative;
  width: 9.05px;
  height: 11.999px;
  background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2026-04-01/UFBBjXSWj6.png)
    no-repeat center;
  background-size: cover;
  z-index: 36;
  overflow: hidden;
}
.text-1b {
  flex-shrink: 0;
  position: relative;
  width: 67.959px;
  height: 27.004px;
  z-index: 37;
}
.pagamento-conta {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  width: 62px;
  height: 27px;
  top: 0;
  left: 0;
  color: #d1d5db;
  font-family: Poppins, var(--default-font-family);
  font-size: 9px;
  font-weight: 500;
  line-height: 13.5px;
  text-align: left;
  z-index: 38;
}
.container-1c {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 7.996px;
  position: absolute;
  width: 174px;
  height: 58px;
  top: 0;
  left: 217.187px;
  z-index: 134;
}
.image {
  flex-shrink: 0;
  position: relative;
  width: 47px;
  height: 44px;
  background: rgba(255, 255, 255, 0)
    url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2026-04-01/9Oq27YqwYz.png)
    no-repeat center;
  background-size: cover;
  z-index: 135;
  overflow: hidden;
  border-radius: 19.995px;
}
.text-1d {
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 104.159px;
  height: 19.984px;
  z-index: 136;
}
.go-everywhere {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 20px;
  color: #111827;
  font-family: Poppins, var(--default-font-family);
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  text-align: left;
  white-space: nowrap;
  z-index: 137;
}
.courier-login-1e {
  position: absolute;
  width: 58.954px;
  height: 19.984px;
  top: 23.999px;
  left: 23.999px;
  z-index: 7;
}
.voltar {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 43px;
  height: 20px;
  top: 0.44px;
  left: 17.984px;
  color: #6b7280;
  font-family: Inter, var(--default-font-family);
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  text-align: center;
  white-space: nowrap;
  letter-spacing: -0.15px;
  z-index: 9;
}
.icon-1f {
  position: absolute;
  width: 15.992px;
  height: 15.992px;
  top: 1.996px;
  left: 0;
  background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2026-04-01/5oo6QAVdwf.png)
    no-repeat center;
  background-size: cover;
  z-index: 8;
  overflow: hidden;
}
.courier-login-20 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  position: absolute;
  width: 389.99px;
  height: 993.848px;
  top: 112.973px;
  left: 0;
  padding: 0 23.999px 0 23.999px;
  z-index: 39;
  overflow: hidden;
}
.container-21 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 19.995px;
  position: relative;
  min-width: 0;
  height: 977.857px;
  z-index: 40;
}
.courier-login-22 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 3.992px;
  position: relative;
  height: 49.971px;
  z-index: 41;
}
.heading {
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  height: 29.987px;
  z-index: 42;
}
.veiculo-zona {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 30px;
  top: 0.72px;
  left: 0;
  color: #111827;
  font-family: Poppins, var(--default-font-family);
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  text-align: left;
  white-space: nowrap;
  z-index: 43;
}
.paragraph {
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  height: 15.992px;
  z-index: 44;
}
.escolhe-transporte-entrega {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 16px;
  top: 0.72px;
  left: 0;
  color: #6b7280;
  font-family: Inter, var(--default-font-family);
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  white-space: nowrap;
  z-index: 45;
}
.courier-login-23 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 6px;
  position: relative;
  height: 144.822px;
  z-index: 46;
}
.label {
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  height: 15.992px;
  z-index: 47;
}
.tipo-veiculo {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 16px;
  top: 0.28px;
  left: 0;
  color: #6b7280;
  font-family: Poppins, var(--default-font-family);
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  text-align: left;
  white-space: nowrap;
  z-index: 48;
}
.container-24 {
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  height: 122.831px;
  z-index: 49;
}
.flex-row-afc {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 341.992px;
  height: 57.417px;
  margin: 0 0 0 0;
  z-index: 53;
}
.button {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 11.999px;
  position: relative;
  width: 166.993px;
  height: 57.417px;
  padding: 0 0 0 15.992px;
  background: #ffffff;
  border: 0.72px solid #e5e7eb;
  z-index: 50;
  border-radius: 16px;
}
.text-25 {
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 60.03px;
  height: 19.984px;
  z-index: 51;
}
.bicicleta {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 20px;
  color: #6b7280;
  font-family: Poppins, var(--default-font-family);
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  text-align: left;
  white-space: nowrap;
  z-index: 52;
}
.button-26 {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 11.999px;
  position: relative;
  width: 167.004px;
  height: 57.417px;
  padding: 0 0 0 15.992px;
  background: #ffffff;
  border: 0.72px solid #e5e7eb;
  z-index: 53;
  border-radius: 16px;
}
.text-27 {
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 35.976px;
  height: 19.984px;
  z-index: 54;
}
.mota {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 20px;
  color: #6b7280;
  font-family: Poppins, var(--default-font-family);
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  text-align: left;
  white-space: nowrap;
  z-index: 55;
}
.flex-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 341.992px;
  height: 57.417px;
  margin: 7.996px 0 0 0;
  z-index: 59;
}
.button-28 {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 11.999px;
  position: relative;
  width: 166.993px;
  height: 57.417px;
  padding: 0 0 0 15.992px;
  background: #f0fdf4;
  border: 0.72px solid rgba(27, 138, 74, 0.4);
  z-index: 56;
  border-radius: 16px;
}
.text-29 {
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 39.99px;
  height: 19.984px;
  z-index: 57;
}
.carro {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 20px;
  color: #111827;
  font-family: Poppins, var(--default-font-family);
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  text-align: left;
  white-space: nowrap;
  z-index: 58;
}
.button-2a {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 11.999px;
  position: relative;
  width: 167.004px;
  height: 57.417px;
  padding: 0 0 0 15.992px;
  background: #ffffff;
  border: 0.72px solid #e5e7eb;
  z-index: 59;
  border-radius: 16px;
}
.text-2b {
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 62.666px;
  height: 19.984px;
  z-index: 60;
}
.trotinete {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 20px;
  color: #6b7280;
  font-family: Poppins, var(--default-font-family);
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  text-align: left;
  white-space: nowrap;
  z-index: 61;
}
.courier-login-2c {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 11.999px;
  position: relative;
  height: 466.416px;
  padding: 16.709px 16.709px 0.72px 16.709px;
  background: #ffffff;
  border: 0.72px solid #e5e7eb;
  z-index: 62;
  border-radius: 16px;
}
.paragraph-2d {
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  height: 15.992px;
  z-index: 63;
}
.detalhes-do-carro {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 16px;
  top: 0.28px;
  left: 0;
  color: #6b7280;
  font-family: Poppins, var(--default-font-family);
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  text-align: left;
  white-space: nowrap;
  z-index: 64;
}
.container-2e {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 11.999px;
  position: relative;
  height: 405.006px;
  z-index: 65;
}
.container-2f {
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  height: 71.402px;
  z-index: 66;
}
.container-30 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: 6px;
  position: absolute;
  width: 148.287px;
  height: 71.402px;
  top: 0;
  left: 0;
  z-index: 67;
}
.label-31 {
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  min-width: 0;
  height: 15.992px;
  z-index: 68;
}
.marca {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 16px;
  top: 0.28px;
  left: 0;
  color: #6b7280;
  font-family: Poppins, var(--default-font-family);
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  text-align: left;
  white-space: nowrap;
  z-index: 69;
}
.text-input {
  display: flex;
  align-items: center;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  min-width: 0;
  height: 49.41px;
  padding: 14px 16px 14px 16px;
  background: #f9fafb;
  border: 0.72px solid #e5e7eb;
  z-index: 70;
  overflow: hidden;
  border-radius: 16px;
}
.ex-renault {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 17px;
  color: #d1d5db;
  font-family: Inter, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 16.943px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: -0.15px;
  z-index: 71;
}
.container-32 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: 6px;
  position: absolute;
  width: 148.287px;
  height: 71.402px;
  top: 0;
  left: 160.286px;
  z-index: 72;
}
.label-33 {
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  min-width: 0;
  height: 15.992px;
  z-index: 73;
}
.modelo {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 16px;
  top: 0.28px;
  left: 0;
  color: #6b7280;
  font-family: Poppins, var(--default-font-family);
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  text-align: left;
  white-space: nowrap;
  z-index: 74;
}
.text-input-34 {
  display: flex;
  align-items: center;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  min-width: 0;
  height: 49.41px;
  padding: 14px 16px 14px 16px;
  background: #f9fafb;
  border: 0.72px solid #e5e7eb;
  z-index: 75;
  overflow: hidden;
  border-radius: 16px;
}
.ex-clio {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 17px;
  color: #d1d5db;
  font-family: Inter, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 16.943px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: -0.15px;
  z-index: 76;
}
.container-35 {
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  height: 71.402px;
  z-index: 77;
}
.container-36 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: 6px;
  position: absolute;
  width: 148.287px;
  height: 71.402px;
  top: 0;
  left: 0;
  z-index: 78;
}
.label-37 {
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  min-width: 0;
  height: 15.992px;
  z-index: 79;
}
.cor {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 16px;
  top: 0.28px;
  left: 0;
  color: #6b7280;
  font-family: Poppins, var(--default-font-family);
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  text-align: left;
  white-space: nowrap;
  z-index: 80;
}
.text-input-38 {
  display: flex;
  align-items: center;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  min-width: 0;
  height: 49.41px;
  padding: 14px 16px 14px 16px;
  background: #f9fafb;
  border: 0.72px solid #e5e7eb;
  z-index: 81;
  overflow: hidden;
  border-radius: 16px;
}
.ex-preto {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 17px;
  color: #d1d5db;
  font-family: Inter, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 16.943px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: -0.15px;
  z-index: 82;
}
.container-39 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: 6px;
  position: absolute;
  width: 148.287px;
  height: 71.402px;
  top: 0;
  left: 160.286px;
  z-index: 83;
}
.label-3a {
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  min-width: 0;
  height: 15.992px;
  z-index: 84;
}
.ano {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 16px;
  top: 0.28px;
  left: 0;
  color: #6b7280;
  font-family: Poppins, var(--default-font-family);
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  text-align: left;
  white-space: nowrap;
  z-index: 85;
}
.number-input {
  display: flex;
  align-items: center;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  min-width: 0;
  height: 49.41px;
  padding: 14px 16px 14px 16px;
  background: #f9fafb;
  border: 0.72px solid #e5e7eb;
  z-index: 86;
  overflow: hidden;
  border-radius: 16px;
}
.ex-example {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 17px;
  color: #d1d5db;
  font-family: Inter, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 16.943px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: -0.15px;
  z-index: 87;
}
.container-3b {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 6px;
  position: relative;
  height: 71.402px;
  z-index: 88;
}
.label-3c {
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  height: 15.992px;
  z-index: 89;
}
.matricula {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 16px;
  top: 0.28px;
  left: 0;
  color: #6b7280;
  font-family: Poppins, var(--default-font-family);
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  text-align: left;
  white-space: nowrap;
  z-index: 90;
}
.text-input-3d {
  display: flex;
  align-items: center;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  height: 49.41px;
  padding: 14px 16px 14px 16px;
  background: #f9fafb;
  border: 0.72px solid #e5e7eb;
  z-index: 91;
  overflow: hidden;
  border-radius: 16px;
}
.aa-bb {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 17px;
  color: #d1d5db;
  font-family: Inter, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 16.943px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: -0.15px;
  z-index: 92;
}
.container-3e {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 6px;
  position: relative;
  height: 71.402px;
  z-index: 93;
}
.label-3f {
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  height: 15.992px;
  z-index: 94;
}
.carta-de-conducao {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 16px;
  top: 0.28px;
  left: 0;
  color: #6b7280;
  font-family: Poppins, var(--default-font-family);
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  text-align: left;
  white-space: nowrap;
  z-index: 95;
}
.text-input-40 {
  display: flex;
  align-items: center;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  height: 49.41px;
  padding: 14px 16px 14px 16px;
  background: #f9fafb;
  border: 0.72px solid #e5e7eb;
  z-index: 96;
  overflow: hidden;
  border-radius: 16px;
}
.l-number {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 17px;
  color: #d1d5db;
  font-family: Inter, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 16.943px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: -0.15px;
  z-index: 97;
}
.container-41 {
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  height: 71.402px;
  z-index: 98;
}
.container-42 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: 6px;
  position: absolute;
  width: 148.287px;
  height: 71.402px;
  top: 0;
  left: 0;
  z-index: 99;
}
.label-43 {
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  min-width: 0;
  height: 15.992px;
  z-index: 100;
}
.n-seguro {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 16px;
  top: 0.28px;
  left: 0;
  color: #6b7280;
  font-family: Poppins, var(--default-font-family);
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  text-align: left;
  white-space: nowrap;
  z-index: 101;
}
.ap-number {
  display: flex;
  align-items: center;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  min-width: 0;
  height: 49.41px;
  padding: 14px 16px 14px 16px;
  background: #f9fafb;
  border: 0.72px solid #e5e7eb;
  z-index: 102;
  overflow: hidden;
  border-radius: 16px;
}
.container-44 {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 17px;
  color: #d1d5db;
  font-family: Inter, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 16.943px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: -0.15px;
  z-index: 103;
}
.label-45 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: 6px;
  position: absolute;
  width: 148.287px;
  height: 71.402px;
  top: 0;
  left: 160.286px;
  z-index: 104;
}
.inspecao-valida {
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  min-width: 0;
  height: 15.992px;
  z-index: 105;
}
.month-picker {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 16px;
  top: 0.28px;
  left: 0;
  color: #6b7280;
  font-family: Poppins, var(--default-font-family);
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  text-align: left;
  white-space: nowrap;
  z-index: 106;
}
.courier-login-46 {
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  min-width: 0;
  height: 49.41px;
  background: #f9fafb;
  border: 0.72px solid #e5e7eb;
  z-index: 107;
  overflow: hidden;
  border-radius: 16px;
}
.label-47 {
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  height: 96px;
  z-index: 108;
}
.zonas-entrega {
  position: relative;
  width: 341.992px;
  height: 15.992px;
  margin: 0 0 0 0;
  z-index: 109;
}
.paragraph-48 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 16px;
  top: 0.28px;
  left: 0;
  color: #6b7280;
  font-family: Poppins, var(--default-font-family);
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  text-align: left;
  white-space: nowrap;
  z-index: 110;
}
.seleciona-zonas {
  position: relative;
  width: 341.992px;
  height: 15.005px;
  margin: 6px 0 0 0;
  z-index: 111;
}
.container-49 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 15px;
  top: 0.44px;
  left: 0;
  color: #9ca3af;
  font-family: Inter, var(--default-font-family);
  font-size: 10px;
  font-weight: 400;
  line-height: 15px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 0.12px;
  z-index: 112;
}
.button-4a {
  position: relative;
  width: 342px;
  height: 69px;
  margin: 11.836px 0 0 0.19px;
  z-index: 113;
}
.braga {
  position: absolute;
  width: 108.544px;
  height: 33.419px;
  top: -0.16px;
  left: 29.188px;
  background: #ffffff;
  border: 0.72px solid #e5e7eb;
  z-index: 114;
  border-radius: 12px;
}
.button-4b {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 37px;
  height: 16px;
  top: 8.278px;
  left: 35.999px;
  color: #6b7280;
  font-family: Poppins, var(--default-font-family);
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  text-align: center;
  white-space: nowrap;
  z-index: 115;
}
.wrapper-11 {
  position: absolute;
  width: 121.317px;
  height: 33.419px;
  top: -0.16px;
  left: 184.188px;
  background: #ffffff;
  border: 0.72px solid #e5e7eb;
  z-index: 116;
  border-radius: 12px;
}
.porto {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 32px;
  height: 16px;
  top: 8.278px;
  left: 43.999px;
  color: #6b7280;
  font-family: Poppins, var(--default-font-family);
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  text-align: center;
  white-space: nowrap;
  z-index: 117;
}
.courier-login-4c {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 6px;
  position: relative;
  height: 72px;
  z-index: 118;
}
.label-4d {
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  height: 15.992px;
  z-index: 119;
}
.disponibilidade-semanal-estimada {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 16px;
  top: 0.28px;
  left: 0;
  color: #6b7280;
  font-family: Poppins, var(--default-font-family);
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  text-align: left;
  white-space: nowrap;
  z-index: 120;
}
.container-4e {
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  height: 49.433px;
  z-index: 121;
}
.container-4f {
  position: absolute;
  width: 108.667px;
  height: 49.433px;
  top: 0;
  left: 0;
  background: #ffffff;
  border: 0.72px solid #e5e7eb;
  z-index: 122;
  border-radius: 16px;
}
.manhas {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 49px;
  height: 16px;
  top: 14.023px;
  left: 29.202px;
  color: #6b7280;
  font-family: Poppins, var(--default-font-family);
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  text-align: center;
  white-space: nowrap;
  z-index: 123;
}
.container-50 {
  position: absolute;
  width: 108.667px;
  height: 49.433px;
  top: 0;
  left: 116.663px;
  background: #ffffff;
  border: 0.72px solid #e5e7eb;
  z-index: 124;
  border-radius: 16px;
}
.tardes {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 42px;
  height: 16px;
  top: 14.023px;
  left: 32.892px;
  color: #6b7280;
  font-family: Poppins, var(--default-font-family);
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  text-align: center;
  white-space: nowrap;
  z-index: 125;
}
.container-51 {
  position: absolute;
  width: 108.667px;
  height: 49.433px;
  top: 0;
  left: 233.326px;
  background: #ffffff;
  border: 0.72px solid #e5e7eb;
  z-index: 126;
  border-radius: 16px;
}
.noites {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 38px;
  height: 16px;
  top: 14.023px;
  left: 34.742px;
  color: #6b7280;
  font-family: Poppins, var(--default-font-family);
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  text-align: center;
  white-space: nowrap;
  z-index: 127;
}
.courier-login-52 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: 11.999px;
  position: absolute;
  width: 342px;
  height: 112px;
  top: 1054px;
  left: 24.187px;
  padding: 15.992px 0 0 0;
  z-index: 128;
}
.button-53 {
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  min-width: 0;
  height: 51.967px;
  background: #1b8a4a;
  z-index: 129;
  border-radius: 16px;
  box-shadow: 0 8px 24px 0 rgba(27, 138, 74, 0.25);
}
.continuar {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 72px;
  height: 20px;
  top: 15.992px;
  left: 123.055px;
  color: #ffffff;
  font-family: Poppins, var(--default-font-family);
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  text-align: center;
  white-space: nowrap;
  z-index: 130;
}
.icon-54 {
  position: absolute;
  width: 15.992px;
  height: 15.992px;
  top: 17.988px;
  left: 202.946px;
  background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2026-04-01/iJ90UhFGuV.png)
    no-repeat center;
  background-size: cover;
  z-index: 131;
  overflow: hidden;
}
.paragraph-55 {
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  min-width: 0;
  height: 15.005px;
  z-index: 132;
}
.passo-de {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 63px;
  height: 15px;
  top: 0.44px;
  left: 139.921px;
  color: #d1d5db;
  font-family: Inter, var(--default-font-family);
  font-size: 10px;
  font-weight: 400;
  line-height: 15px;
  text-align: center;
  white-space: nowrap;
  letter-spacing: 0.12px;
  z-index: 133;
}
.footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: 11.999px;
  position: absolute;
  width: 397px;
  height: 79px;
  top: 1166px;
  left: 0;
  padding: 20.713px 19.995px 0 19.995px;
  background: #f8fafa;
  border-bottom: 0.72px solid #e5e7eb;
  z-index: 138;
}
.container-56 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  min-width: 0;
  height: 23.999px;
  padding: 0 215.753px 0 0;
  z-index: 139;
}
.container-57 {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 7.996px;
  position: relative;
  width: 134.247px;
  height: 23.999px;
  z-index: 140;
}
.container-58 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 23.999px;
  height: 23.999px;
  padding: 0 8.254px 0 8.254px;
  background: #1b8a4a;
  z-index: 141;
  border-radius: 4px;
}
.text-59 {
  flex-shrink: 0;
  position: relative;
  width: 7.491px;
  height: 15.005px;
  z-index: 142;
}
.g {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 15px;
  top: 0.44px;
  left: 0;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 10px;
  font-weight: 700;
  line-height: 15px;
  text-align: left;
  white-space: nowrap;
  z-index: 143;
}
.text-5a {
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 102.252px;
  height: 19.984px;
  z-index: 144;
}
.goeverywhere {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 20px;
  color: #111827;
  font-family: Poppins, var(--default-font-family);
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  text-align: left;
  white-space: nowrap;
  z-index: 145;
}
.paragraph-5b {
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  min-width: 0;
  height: 15.005px;
  z-index: 146;
}
.direitos-reservados {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 15px;
  top: 0.44px;
  left: 0;
  color: #9ca3af;
  font-family: Inter, var(--default-font-family);
  font-size: 10px;
  font-weight: 400;
  line-height: 15px;
  text-align: left;
  white-space: nowrap;
  z-index: 147;
}
