:root {
  --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
}

.main-container {
  overflow: hidden;
}

.main-container,
.main-container * {
  box-sizing: border-box;
}

input,
select,
textarea,
button {
  outline: 0;
}

.main-container {
  position: relative;
  width: 397px;
  height: 1022px;
  margin: 0 auto;
}
.pwa-teste {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  position: relative;
  width: 397px;
  height: 950px;
  margin: 0 0 0 0;
  padding: 0 3.813px 0 3.813px;
  background: #f8fafa;
  z-index: 1;
}
.courier-login {
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  min-width: 0;
  height: 950.169px;
  z-index: 2;
  overflow: hidden;
}
.container {
  position: absolute;
  width: 389.99px;
  height: 950.169px;
  top: 0;
  left: 0;
  background: #f8faf9;
  z-index: 3;
}
.container-1 {
  position: relative;
  width: 301.668px;
  height: 301.668px;
  margin: 46.67px 0 0 147.655px;
  opacity: 0.2;
  z-index: 5;
  border-radius: 24082600px;
}
.container-2 {
  position: relative;
  width: 206.164px;
  height: 206.164px;
  margin: 208.725px 0 0 -42.074px;
  opacity: 0.1;
  z-index: 6;
  border-radius: 24082600px;
}
.icon {
  position: absolute;
  width: 389.99px;
  height: 950.169px;
  top: 0;
  left: 0;
  background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2026-04-01/5PJV4VcekN.png)
    no-repeat center;
  background-size: cover;
  z-index: 4;
  overflow: hidden;
}
.container-3 {
  position: absolute;
  width: 389.99px;
  height: 950.169px;
  top: 0;
  left: 0;
  z-index: 7;
}
.courier-login-4 {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 6px;
  position: relative;
  width: 341.992px;
  height: 36.996px;
  margin: 55.982px 0 0 23.999px;
  padding: 0 0px 0 0;
  z-index: 11;
}
.container-5 {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0;
  gap: 6px;
  position: relative;
  min-width: 0;
  height: 36.996px;
  z-index: 12;
}
.container-6 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 80.99px;
  height: 3.992px;
  background: #e5e7eb;
  z-index: 13;
  overflow: hidden;
  border-radius: 24082600px;
}
.container-7 {
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  min-width: 0;
  height: 3.992px;
  background: #1b8a4a;
  z-index: 14;
  border-radius: 24082600px;
}
.container-8 {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 3.992px;
  position: relative;
  width: 80.99px;
  height: 27.004px;
  z-index: 15;
}
.icon-9 {
  flex-shrink: 0;
  position: relative;
  width: 11.035px;
  height: 11.999px;
  background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2026-04-01/gADB4mjzuR.png)
    no-repeat center;
  background-size: cover;
  z-index: 16;
  overflow: hidden;
}
.text {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0;
  position: relative;
  min-width: 0;
  height: 27.004px;
  z-index: 17;
}
.dados-pessoais {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  width: 41px;
  height: 27px;
  top: 0;
  left: 0;
  color: #6b7280;
  font-family: Poppins, var(--default-font-family);
  font-size: 9px;
  font-weight: 500;
  line-height: 13.5px;
  text-align: left;
  z-index: 18;
}
.container-a {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0;
  gap: 6px;
  position: relative;
  min-width: 0;
  height: 36.996px;
  z-index: 19;
}
.container-b {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 81.001px;
  height: 3.992px;
  background: #e5e7eb;
  z-index: 20;
  overflow: hidden;
  border-radius: 24082600px;
}
.container-c {
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  min-width: 0;
  height: 3.992px;
  background: #1b8a4a;
  z-index: 21;
  border-radius: 24082600px;
}
.container-d {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 3.992px;
  position: relative;
  width: 81.001px;
  height: 27.004px;
  z-index: 22;
}
.icon-e {
  flex-shrink: 0;
  position: relative;
  width: 11.898px;
  height: 11.999px;
  background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2026-04-01/nuKD3xJdeA.png)
    no-repeat center;
  background-size: cover;
  z-index: 23;
  overflow: hidden;
}
.text-f {
  flex-shrink: 0;
  position: relative;
  width: 65.11px;
  height: 27.004px;
  z-index: 24;
}
.veiculo-e-zona {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  width: 42px;
  height: 27px;
  top: 0;
  left: 0;
  color: #6b7280;
  font-family: Poppins, var(--default-font-family);
  font-size: 9px;
  font-weight: 500;
  line-height: 13.5px;
  text-align: left;
  z-index: 25;
}
.container-10 {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0;
  gap: 6px;
  position: relative;
  min-width: 0;
  height: 23.494px;
  z-index: 26;
}
.container-11 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 81.001px;
  height: 3.992px;
  padding: 0 40.506px 0 0;
  background: #e5e7eb;
  z-index: 27;
  overflow: hidden;
  border-radius: 24082600px;
}
.container-12 {
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  min-width: 0;
  height: 3.992px;
  background: #1b8a4a;
  z-index: 28;
  border-radius: 24082600px;
}
.container-13 {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 3.992px;
  position: relative;
  width: 73.959px;
  height: 13.502px;
  z-index: 29;
}
.icon-14 {
  flex-shrink: 0;
  position: relative;
  width: 11.999px;
  height: 11.999px;
  background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2026-04-01/kODXG0cYUh.png)
    no-repeat center;
  background-size: cover;
  z-index: 30;
  overflow: hidden;
}
.text-15 {
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 57.967px;
  height: 13.502px;
  z-index: 31;
}
.documentos {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 14px;
  color: #6b7280;
  font-family: Poppins, var(--default-font-family);
  font-size: 9px;
  font-weight: 500;
  line-height: 13.5px;
  text-align: left;
  white-space: nowrap;
  z-index: 32;
}
.container-16 {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0;
  gap: 6px;
  position: relative;
  min-width: 0;
  height: 36.996px;
  z-index: 33;
}
.container-17 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 81.001px;
  height: 3.992px;
  padding: 0 81.001px 0 0;
  background: #e5e7eb;
  z-index: 34;
  overflow: hidden;
  border-radius: 24082600px;
}
.container-18 {
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  min-width: 0;
  height: 3.992px;
  z-index: 35;
  border-radius: 24082600px;
}
.container-19 {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 3.992px;
  position: relative;
  width: 81.001px;
  height: 27.004px;
  z-index: 36;
}
.icon-1a {
  flex-shrink: 0;
  position: relative;
  width: 9.05px;
  height: 11.999px;
  background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2026-04-01/X2O7qcd54u.png)
    no-repeat center;
  background-size: cover;
  z-index: 37;
  overflow: hidden;
}
.text-1b {
  flex-shrink: 0;
  position: relative;
  width: 67.959px;
  height: 27.004px;
  z-index: 38;
}
.pagamento-conta {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  width: 62px;
  height: 27px;
  top: 0;
  left: 0;
  color: #d1d5db;
  font-family: Poppins, var(--default-font-family);
  font-size: 9px;
  font-weight: 500;
  line-height: 13.5px;
  text-align: left;
  z-index: 39;
}
.courier-login-1c {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  position: relative;
  width: 389.99px;
  height: 710.238px;
  margin: 19.995px 0 0 0;
  padding: 0 23.999px 0 23.999px;
  z-index: 40;
  overflow: hidden;
}
.container-1d {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 19.995px;
  position: relative;
  min-width: 0;
  height: 694.246px;
  z-index: 41;
}
.courier-login-1e {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 3.992px;
  position: relative;
  height: 49.971px;
  z-index: 42;
}
.heading {
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  height: 29.987px;
  z-index: 43;
}
.documentos-1f {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 30px;
  top: 0.72px;
  left: 0;
  color: #111827;
  font-family: Poppins, var(--default-font-family);
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  text-align: left;
  white-space: nowrap;
  z-index: 44;
}
.paragraph {
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  height: 15.992px;
  z-index: 45;
}
.carrega-teus-documentos {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 16px;
  top: 0.72px;
  left: 0;
  color: #6b7280;
  font-family: Inter, var(--default-font-family);
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  white-space: nowrap;
  z-index: 46;
}
.courier-login-20 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  height: 72.4px;
  padding: 16.709px 16.709px 0.72px 16.709px;
  background: #eff6ff;
  border: 0.72px solid #bfdbfe;
  z-index: 47;
  border-radius: 16px;
}
.paragraph-21 {
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  height: 38.981px;
  z-index: 48;
}
.formatos-aceites {
  position: relative;
  width: 285px;
  height: 39px;
  margin: -1.282px 0 0 0;
  font-family: Poppins, var(--default-font-family);
  font-size: 12px;
  font-weight: 600;
  line-height: 19.5px;
  text-align: left;
  z-index: 49;
}
.formatos-aceites-22 {
  position: relative;
  color: #1d4ed8;
  font-family: Poppins, var(--default-font-family);
  font-size: 12px;
  font-weight: 600;
  line-height: 19.5px;
  text-align: left;
}
.formatos-aceites-23 {
  position: relative;
  color: #1d4ed8;
  font-family: Inter, var(--default-font-family);
  font-size: 12px;
  font-weight: 400;
  line-height: 19.5px;
  text-align: left;
}
.file-upload-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 6px;
  position: relative;
  height: 108.835px;
  z-index: 50;
}
.label {
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  height: 15.992px;
  z-index: 51;
}
.foto-perfil {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 16px;
  top: 0.28px;
  left: 0;
  color: #6b7280;
  font-family: Poppins, var(--default-font-family);
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  text-align: left;
  white-space: nowrap;
  z-index: 52;
}
.label-24 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 7.996px;
  position: relative;
  height: 86.844px;
  padding: 19.995px 0 19.995px 0;
  background: #f9fafb;
  border: 1.435px dashed #e5e7eb;
  z-index: 53;
  border-radius: 16px;
}
.icon-25 {
  flex-shrink: 0;
  position: relative;
  width: 19.995px;
  height: 19.995px;
  background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2026-04-01/vUVGaAzSES.png)
    no-repeat center;
  background-size: cover;
  z-index: 54;
  overflow: hidden;
}
.text-26 {
  flex-shrink: 0;
  position: relative;
  width: 108.734px;
  height: 15.992px;
  z-index: 55;
}
.toca-para-carregar {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 16px;
  top: 0.72px;
  left: 0;
  color: #9ca3af;
  font-family: Inter, var(--default-font-family);
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  text-align: left;
  white-space: nowrap;
  z-index: 56;
}
.file-upload-box-27 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 6px;
  position: relative;
  height: 108.835px;
  z-index: 57;
}
.label-28 {
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  height: 15.992px;
  z-index: 58;
}
.cartao-de-cidadao {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 16px;
  top: 0.28px;
  left: 0;
  color: #6b7280;
  font-family: Poppins, var(--default-font-family);
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  text-align: left;
  white-space: nowrap;
  z-index: 59;
}
.label-29 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 7.996px;
  position: relative;
  height: 86.844px;
  padding: 19.995px 0 19.995px 0;
  background: #f9fafb;
  border: 1.435px dashed #e5e7eb;
  z-index: 60;
  border-radius: 16px;
}
.icon-2a {
  flex-shrink: 0;
  position: relative;
  width: 19.995px;
  height: 19.995px;
  background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2026-04-01/tr96wvYJbw.png)
    no-repeat center;
  background-size: cover;
  z-index: 61;
  overflow: hidden;
}
.text-2b {
  flex-shrink: 0;
  position: relative;
  width: 108.734px;
  height: 15.992px;
  z-index: 62;
}
.toca-para-carregar-2c {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 16px;
  top: 0.72px;
  left: 0;
  color: #9ca3af;
  font-family: Inter, var(--default-font-family);
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  text-align: left;
  white-space: nowrap;
  z-index: 63;
}
.file-upload-box-2d {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 6px;
  position: relative;
  height: 108.835px;
  z-index: 64;
}
.label-2e {
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  height: 15.992px;
  z-index: 65;
}
.carta-de-conducao {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 16px;
  top: 0.28px;
  left: 0;
  color: #6b7280;
  font-family: Poppins, var(--default-font-family);
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  text-align: left;
  white-space: nowrap;
  z-index: 66;
}
.label-2f {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 7.996px;
  position: relative;
  height: 86.844px;
  padding: 19.995px 0 19.995px 0;
  background: #f9fafb;
  border: 1.435px dashed #e5e7eb;
  z-index: 67;
  border-radius: 16px;
}
.icon-30 {
  flex-shrink: 0;
  position: relative;
  width: 19.995px;
  height: 19.995px;
  background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2026-04-01/wsaNf7nZNG.png)
    no-repeat center;
  background-size: cover;
  z-index: 68;
  overflow: hidden;
}
.text-31 {
  flex-shrink: 0;
  position: relative;
  width: 108.734px;
  height: 15.992px;
  z-index: 69;
}
.toca-para-carregar-32 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 16px;
  top: 0.72px;
  left: 0;
  color: #9ca3af;
  font-family: Inter, var(--default-font-family);
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  text-align: left;
  white-space: nowrap;
  z-index: 70;
}
.courier-login-33 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 11.999px;
  position: relative;
  height: 145.394px;
  padding: 16.709px 16.709px 0.72px 16.709px;
  background: #ffffff;
  border: 0.72px solid #e5e7eb;
  z-index: 71;
  border-radius: 16px;
}
.paragraph-34 {
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  height: 15.992px;
  z-index: 72;
}
.checklist-de-verificacao {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 16px;
  top: 0.28px;
  left: 0;
  color: #6b7280;
  font-family: Poppins, var(--default-font-family);
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  text-align: left;
  white-space: nowrap;
  z-index: 73;
}
.container-35 {
  display: flex;
  align-items: center;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 9.992px;
  position: relative;
  height: 19.995px;
  z-index: 74;
}
.container-36 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 19.995px;
  height: 19.995px;
  padding: 0 6px 0 6px;
  background: #f9fafb;
  z-index: 75;
  border-radius: 24082600px;
}
.container-37 {
  flex-shrink: 0;
  position: relative;
  width: 7.996px;
  height: 7.996px;
  background: #d1d5db;
  z-index: 76;
  border-radius: 24082600px;
}
.text-38 {
  flex-shrink: 0;
  position: relative;
  width: 186.012px;
  height: 15.992px;
  z-index: 77;
}
.foto-nitida-e-com-boa-iluminacao {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 16px;
  top: 0.72px;
  left: 0;
  color: #9ca3af;
  font-family: Inter, var(--default-font-family);
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  white-space: nowrap;
  z-index: 78;
}
.container-39 {
  display: flex;
  align-items: center;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 9.992px;
  position: relative;
  height: 19.995px;
  z-index: 79;
}
.container-3a {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 19.995px;
  height: 19.995px;
  padding: 0 6px 0 6px;
  background: #f9fafb;
  z-index: 80;
  border-radius: 24082600px;
}
.container-3b {
  flex-shrink: 0;
  position: relative;
  width: 7.996px;
  height: 7.996px;
  background: #d1d5db;
  z-index: 81;
  border-radius: 24082600px;
}
.text-3c {
  flex-shrink: 0;
  position: relative;
  width: 142.018px;
  height: 15.992px;
  z-index: 82;
}
.cc-legivel-frente-e-verso {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 16px;
  top: 0.72px;
  left: 0;
  color: #9ca3af;
  font-family: Inter, var(--default-font-family);
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  white-space: nowrap;
  z-index: 83;
}
.container-3d {
  display: flex;
  align-items: center;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 9.992px;
  position: relative;
  height: 19.995px;
  z-index: 84;
}
.container-3e {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 19.995px;
  height: 19.995px;
  padding: 0 6px 0 6px;
  background: #f9fafb;
  z-index: 85;
  border-radius: 24082600px;
}
.container-3f {
  flex-shrink: 0;
  position: relative;
  width: 7.996px;
  height: 7.996px;
  background: #d1d5db;
  z-index: 86;
  border-radius: 24082600px;
}
.text-40 {
  flex-shrink: 0;
  position: relative;
  width: 185.62px;
  height: 15.992px;
  z-index: 87;
}
.carta-de-conducao-se-aplicavel {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 16px;
  top: 0.72px;
  left: 0;
  color: #9ca3af;
  font-family: Inter, var(--default-font-family);
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  white-space: nowrap;
  z-index: 88;
}
.courier-login-41 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: 11.999px;
  position: relative;
  width: 341.992px;
  height: 126.958px;
  margin: 0px 0 0 23.999px;
  padding: 15.992px 0 0 0;
  z-index: 89;
}
.button {
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  min-width: 0;
  height: 51.967px;
  background: #1b8a4a;
  z-index: 90;
  border-radius: 16px;
  box-shadow: 0 8px 24px 0 rgba(27, 138, 74, 0.25);
}
.continuar {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 72px;
  height: 20px;
  top: 15.992px;
  left: 123.055px;
  color: #ffffff;
  font-family: Poppins, var(--default-font-family);
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  text-align: center;
  white-space: nowrap;
  z-index: 91;
}
.icon-42 {
  position: absolute;
  width: 15.992px;
  height: 15.992px;
  top: 17.988px;
  left: 202.946px;
  background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2026-04-01/QprrATqZCH.png)
    no-repeat center;
  background-size: cover;
  z-index: 92;
  overflow: hidden;
}
.paragraph-43 {
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  min-width: 0;
  height: 15.005px;
  z-index: 93;
}
.span-passo-de {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 63px;
  height: 15px;
  top: 0.44px;
  left: 139.809px;
  color: #d1d5db;
  font-family: Inter, var(--default-font-family);
  font-size: 10px;
  font-weight: 400;
  line-height: 15px;
  text-align: center;
  white-space: nowrap;
  letter-spacing: 0.12px;
  z-index: 94;
}
.container-44 {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 7.996px;
  position: absolute;
  width: 172px;
  height: 56px;
  top: 0;
  left: 218.187px;
  z-index: 95;
}
.image {
  flex-shrink: 0;
  position: relative;
  width: 47px;
  height: 44px;
  background: rgba(255, 255, 255, 0)
    url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2026-04-01/GF32QcmWnC.png)
    no-repeat center;
  background-size: cover;
  z-index: 96;
  overflow: hidden;
  border-radius: 19.995px;
}
.text-45 {
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 104.159px;
  height: 19.984px;
  z-index: 97;
}
.span-go-everywhere {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 20px;
  color: #111827;
  font-family: Poppins, var(--default-font-family);
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  text-align: left;
  white-space: nowrap;
  z-index: 98;
}
.courier-login-46 {
  position: absolute;
  width: 58.954px;
  height: 19.984px;
  top: 23.999px;
  left: 23.999px;
  z-index: 8;
}
.span-voltar {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 43px;
  height: 20px;
  top: 0.44px;
  left: 17.984px;
  color: #6b7280;
  font-family: Inter, var(--default-font-family);
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  text-align: center;
  white-space: nowrap;
  letter-spacing: -0.15px;
  z-index: 10;
}
.icon-47 {
  position: absolute;
  width: 15.992px;
  height: 15.992px;
  top: 1.996px;
  left: 0;
  background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2026-04-01/VZFUKAmjAN.png)
    no-repeat center;
  background-size: cover;
  z-index: 9;
  overflow: hidden;
}
.footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: 11.999px;
  position: relative;
  width: 397px;
  height: 72px;
  margin: 0 0 0 0;
  padding: 20.713px 19.995px 0 19.995px;
  background: #f8fafa;
  border-bottom: 0.72px solid #e5e7eb;
  z-index: 99;
}
.container-48 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  min-width: 0;
  height: 23.999px;
  padding: 0 215.753px 0 0;
  z-index: 100;
}
.container-49 {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 7.996px;
  position: relative;
  width: 134.247px;
  height: 23.999px;
  z-index: 101;
}
.container-4a {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 23.999px;
  height: 23.999px;
  padding: 0 8.254px 0 8.254px;
  background: #1b8a4a;
  z-index: 102;
  border-radius: 4px;
}
.text-4b {
  flex-shrink: 0;
  position: relative;
  width: 7.491px;
  height: 15.005px;
  z-index: 103;
}
.span-g {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 15px;
  top: 0.44px;
  left: 0;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 10px;
  font-weight: 700;
  line-height: 15px;
  text-align: left;
  white-space: nowrap;
  z-index: 104;
}
.text-4c {
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 102.252px;
  height: 19.984px;
  z-index: 105;
}
.span-go-everywhere-4d {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 20px;
  color: #111827;
  font-family: Poppins, var(--default-font-family);
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  text-align: left;
  white-space: nowrap;
  z-index: 106;
}
.paragraph-4e {
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  min-width: 0;
  height: 15.005px;
  z-index: 107;
}
.span-copyright-go-everywhere {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 15px;
  top: 0.44px;
  left: 0;
  color: #9ca3af;
  font-family: Inter, var(--default-font-family);
  font-size: 10px;
  font-weight: 400;
  line-height: 15px;
  text-align: left;
  white-space: nowrap;
  z-index: 108;
}
