:root {
  --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
}

.main-container {
  overflow: hidden;
}

.main-container,
.main-container * {
  box-sizing: border-box;
}

input,
select,
textarea,
button {
  outline: 0;
}

.main-container {
  position: relative;
  width: 397px;
  height: 1049px;
  margin: 0 auto;
}
.footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: 11.999px;
  position: relative;
  width: 397px;
  height: 72px;
  margin: 977px 0 0 0;
  padding: 20.713px 19.995px 0 19.995px;
  background: #f8fafa;
  border-bottom: 0.72px solid #e5e7eb;
  z-index: 121;
}
.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  min-width: 0;
  height: 23.999px;
  padding: 0 215.753px 0 0;
  z-index: 122;
}
.container-1 {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 7.996px;
  position: relative;
  width: 134.247px;
  height: 23.999px;
  z-index: 123;
}
.container-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 23.999px;
  height: 23.999px;
  padding: 0 8.254px 0 8.254px;
  background: #1b8a4a;
  z-index: 124;
  border-radius: 4px;
}
.text {
  flex-shrink: 0;
  position: relative;
  width: 7.491px;
  height: 15.005px;
  z-index: 125;
}
.g {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 15px;
  top: 0.44px;
  left: 0;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 10px;
  font-weight: 700;
  line-height: 15px;
  text-align: left;
  white-space: nowrap;
  z-index: 126;
}
.text-3 {
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 102.252px;
  height: 19.984px;
  z-index: 127;
}
.go-everywhere {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 20px;
  color: #111827;
  font-family: Poppins, var(--default-font-family);
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  text-align: left;
  white-space: nowrap;
  z-index: 128;
}
.paragraph {
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  min-width: 0;
  height: 15.005px;
  z-index: 129;
}
.copyright {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 15px;
  top: 0.44px;
  left: 0;
  color: #9ca3af;
  font-family: Inter, var(--default-font-family);
  font-size: 10px;
  font-weight: 400;
  line-height: 15px;
  text-align: left;
  white-space: nowrap;
  z-index: 130;
}
.pwa-test {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  position: absolute;
  width: 397px;
  height: 977px;
  top: 0;
  left: 0;
  padding: 0 3.813px 0 3.813px;
  background: #f8fafa;
  z-index: 2;
}
.courier-login {
  flex-shrink: 0;
  position: relative;
  width: 389px;
  height: 977px;
  z-index: 3;
  overflow: hidden;
}
.container-4 {
  position: absolute;
  width: 390px;
  height: 964px;
  top: 13px;
  left: 0.19px;
  background: #f8faf9;
  z-index: 4;
}
.icon {
  position: absolute;
  width: 390px;
  height: 951px;
  top: 26px;
  left: 0.19px;
  background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2026-04-01/uY3vQtPZDQ.png)
    no-repeat center;
  background-size: cover;
  z-index: 5;
  overflow: hidden;
}
.container-5 {
  position: absolute;
  width: 315.192px;
  height: 315.192px;
  top: 41.243px;
  left: 140.894px;
  opacity: 0.19;
  z-index: 6;
  border-radius: 24082600px;
}
.container-6 {
  position: absolute;
  width: 180.251px;
  height: 180.251px;
  top: 591.416px;
  left: -29.118px;
  opacity: 0.1;
  z-index: 7;
  border-radius: 24082600px;
}
.container-7 {
  position: absolute;
  width: 390px;
  height: 953px;
  top: 24px;
  left: 0.19px;
  z-index: 8;
}
.courier-login-8 {
  position: relative;
  width: 58.954px;
  height: 19.984px;
  margin: 23.999px 0 0 23.999px;
  z-index: 9;
}
.voltar {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 43px;
  height: 20px;
  top: 0.44px;
  left: 17.984px;
  color: #6b7280;
  font-family: Inter, var(--default-font-family);
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  text-align: center;
  white-space: nowrap;
  letter-spacing: -0.15px;
  z-index: 11;
}
.icon-9 {
  position: absolute;
  width: 15.992px;
  height: 15.992px;
  top: 1.996px;
  left: 0;
  background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2026-04-01/e3cDTXfyU9.png)
    no-repeat center;
  background-size: cover;
  z-index: 10;
  overflow: hidden;
}
.courier-login-a {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 6px;
  position: relative;
  width: 341.992px;
  height: 36.996px;
  margin: 11.999px 0 0 23.999px;
  padding: 0 0px 0 0;
  z-index: 12;
}
.container-b {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0;
  gap: 6px;
  position: relative;
  min-width: 0;
  height: 36.996px;
  z-index: 13;
}
.container-c {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 80.99px;
  height: 3.992px;
  background: #e5e7eb;
  z-index: 14;
  overflow: hidden;
  border-radius: 24082600px;
}
.container-d {
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  min-width: 0;
  height: 3.992px;
  background: #1b8a4a;
  z-index: 15;
  border-radius: 24082600px;
}
.container-e {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 3.992px;
  position: relative;
  width: 80.99px;
  height: 27.004px;
  z-index: 16;
}
.icon-f {
  flex-shrink: 0;
  position: relative;
  width: 11.035px;
  height: 11.999px;
  background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2026-04-01/32fpwe4LNL.png)
    no-repeat center;
  background-size: cover;
  z-index: 17;
  overflow: hidden;
}
.text-10 {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0;
  position: relative;
  min-width: 0;
  height: 27.004px;
  z-index: 18;
}
.personal-data {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  width: 41px;
  height: 27px;
  top: 0;
  left: 0;
  color: #6b7280;
  font-family: Poppins, var(--default-font-family);
  font-size: 9px;
  font-weight: 500;
  line-height: 13.5px;
  text-align: left;
  z-index: 19;
}
.container-11 {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0;
  gap: 6px;
  position: relative;
  min-width: 0;
  height: 36.996px;
  z-index: 20;
}
.container-12 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 81.001px;
  height: 3.992px;
  background: #e5e7eb;
  z-index: 21;
  overflow: hidden;
  border-radius: 24082600px;
}
.container-13 {
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  min-width: 0;
  height: 3.992px;
  background: #1b8a4a;
  z-index: 22;
  border-radius: 24082600px;
}
.container-14 {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 3.992px;
  position: relative;
  width: 81.001px;
  height: 27.004px;
  z-index: 23;
}
.icon-15 {
  flex-shrink: 0;
  position: relative;
  width: 11.898px;
  height: 11.999px;
  background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2026-04-01/c1Vkjmb2s0.png)
    no-repeat center;
  background-size: cover;
  z-index: 24;
  overflow: hidden;
}
.text-16 {
  flex-shrink: 0;
  position: relative;
  width: 65.11px;
  height: 27.004px;
  z-index: 25;
}
.veiculo-e-zona {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  width: 42px;
  height: 27px;
  top: 0;
  left: 0;
  color: #6b7280;
  font-family: Poppins, var(--default-font-family);
  font-size: 9px;
  font-weight: 500;
  line-height: 13.5px;
  text-align: left;
  z-index: 26;
}
.container-17 {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0;
  gap: 6px;
  position: relative;
  min-width: 0;
  height: 23.494px;
  z-index: 27;
}
.container-18 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 81.001px;
  height: 3.992px;
  background: #e5e7eb;
  z-index: 28;
  overflow: hidden;
  border-radius: 24082600px;
}
.container-19 {
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  min-width: 0;
  height: 3.992px;
  background: #1b8a4a;
  z-index: 29;
  border-radius: 24082600px;
}
.container-1a {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 3.992px;
  position: relative;
  width: 73.959px;
  height: 13.502px;
  z-index: 30;
}
.icon-1b {
  flex-shrink: 0;
  position: relative;
  width: 11.999px;
  height: 11.999px;
  background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2026-04-01/A56CoiO9k0.png)
    no-repeat center;
  background-size: cover;
  z-index: 31;
  overflow: hidden;
}
.text-1c {
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 57.967px;
  height: 13.502px;
  z-index: 32;
}
.documentos {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 14px;
  color: #6b7280;
  font-family: Poppins, var(--default-font-family);
  font-size: 9px;
  font-weight: 500;
  line-height: 13.5px;
  text-align: left;
  white-space: nowrap;
  z-index: 33;
}
.container-1d {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0;
  gap: 6px;
  position: relative;
  min-width: 0;
  height: 36.996px;
  z-index: 34;
}
.container-1e {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 81.001px;
  height: 3.992px;
  padding: 0 40.506px 0 0;
  background: #e5e7eb;
  z-index: 35;
  overflow: hidden;
  border-radius: 24082600px;
}
.container-1f {
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  min-width: 0;
  height: 3.992px;
  background: #1b8a4a;
  z-index: 36;
  border-radius: 24082600px;
}
.container-20 {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 3.992px;
  position: relative;
  width: 81.001px;
  height: 27.004px;
  z-index: 37;
}
.icon-21 {
  flex-shrink: 0;
  position: relative;
  width: 9.05px;
  height: 11.999px;
  background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2026-04-01/pW49XPD12C.png)
    no-repeat center;
  background-size: cover;
  z-index: 38;
  overflow: hidden;
}
.text-22 {
  flex-shrink: 0;
  position: relative;
  width: 67.959px;
  height: 27.004px;
  z-index: 39;
}
.pagamento-e-conta {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  width: 62px;
  height: 27px;
  top: 0;
  left: 0;
  color: #6b7280;
  font-family: Poppins, var(--default-font-family);
  font-size: 9px;
  font-weight: 500;
  line-height: 13.5px;
  text-align: left;
  z-index: 40;
}
.courier-login-23 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  position: relative;
  width: 389.99px;
  height: 736.984px;
  margin: 19.995px 0 0 0;
  padding: 0 23.999px 0 23.999px;
  z-index: 41;
  overflow: hidden;
}
.container-24 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 19.995px;
  position: relative;
  min-width: 0;
  height: 720.992px;
  z-index: 42;
}
.courier-login-25 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 3.992px;
  position: relative;
  height: 49.971px;
  z-index: 43;
}
.heading {
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  height: 29.987px;
  z-index: 44;
}
.pagamento-e-conta-26 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 30px;
  top: 0.72px;
  left: 0;
  color: #111827;
  font-family: Poppins, var(--default-font-family);
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  text-align: left;
  white-space: nowrap;
  z-index: 45;
}
.paragraph-27 {
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  height: 15.992px;
  z-index: 46;
}
.onde-recebes-os-teus-pagamentos {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 16px;
  top: 0.72px;
  left: 0;
  color: #6b7280;
  font-family: Inter, var(--default-font-family);
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  white-space: nowrap;
  z-index: 47;
}
.courier-login-28 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 6px;
  position: relative;
  height: 71.402px;
  z-index: 48;
}
.label {
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  height: 15.992px;
  z-index: 49;
}
.iban {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 16px;
  top: 0.28px;
  left: 0;
  color: #6b7280;
  font-family: Poppins, var(--default-font-family);
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  text-align: left;
  white-space: nowrap;
  z-index: 50;
}
.container-29 {
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  height: 49.41px;
  z-index: 51;
}
.icon-2a {
  position: relative;
  width: 15.992px;
  height: 15.992px;
  margin: 16.709px 0 0 15.992px;
  background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2026-04-01/g6oZVU2hSF.png)
    no-repeat center;
  background-size: cover;
  z-index: 54;
  overflow: hidden;
}
.text-input {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  position: absolute;
  width: 341.992px;
  height: 49.41px;
  top: 0;
  left: 0;
  padding: 14px 16px 14px 44px;
  background: #f9fafb;
  border: 0.72px solid #e5e7eb;
  z-index: 52;
  overflow: hidden;
  border-radius: 16px;
}
.pt {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 17px;
  color: #d1d5db;
  font-family: Inter, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 16.943px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: -0.15px;
  z-index: 53;
}
.courier-login-2b {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 6px;
  position: relative;
  height: 71.402px;
  z-index: 55;
}
.label-2c {
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  height: 15.992px;
  z-index: 56;
}
.titular-da-conta {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 16px;
  top: 0.28px;
  left: 0;
  color: #6b7280;
  font-family: Poppins, var(--default-font-family);
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  text-align: left;
  white-space: nowrap;
  z-index: 57;
}
.text-input-2d {
  display: flex;
  align-items: center;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  height: 49.41px;
  padding: 14px 16px 14px 16px;
  background: #f9fafb;
  border: 0.72px solid #e5e7eb;
  z-index: 58;
  overflow: hidden;
  border-radius: 16px;
}
.nome-completo-do-titular {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 17px;
  color: #d1d5db;
  font-family: Inter, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 16.943px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: -0.15px;
  z-index: 59;
}
.courier-login-2e {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 7.996px;
  position: relative;
  height: 154.892px;
  padding: 16.709px 16.709px 0.72px 16.709px;
  background: #f0fdf4;
  border: 0.72px solid #dcfce7;
  z-index: 60;
  border-radius: 16px;
}
.paragraph-2f {
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  height: 15.992px;
  z-index: 61;
}
.como-funciona-o-pagamento {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 16px;
  top: 0.28px;
  left: 0;
  color: #1b8a4a;
  font-family: Poppins, var(--default-font-family);
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  text-align: left;
  white-space: nowrap;
  z-index: 62;
}
.list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 6px;
  position: relative;
  height: 97.486px;
  z-index: 63;
}
.list-item {
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  height: 19.872px;
  z-index: 64;
}
.recebes-por-cada-entrega-concluida {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 18px;
  top: 0.15px;
  left: 13.255px;
  color: #6b7280;
  font-family: Inter, var(--default-font-family);
  font-size: 11px;
  font-weight: 400;
  line-height: 17.875px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 0.06px;
  z-index: 67;
}
.text-30 {
  position: absolute;
  width: 5.26px;
  height: 17.876px;
  top: 1.996px;
  left: 0;
  z-index: 65;
}
.bullet {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 18px;
  top: 0.15px;
  left: 0;
  color: #1b8a4a;
  font-family: Inter, var(--default-font-family);
  font-size: 11px;
  font-weight: 400;
  line-height: 17.875px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 0.06px;
  z-index: 66;
}
.bonus-por-entregas-urgentes {
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  height: 19.872px;
  z-index: 68;
}
.text-31 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 18px;
  top: 0.15px;
  left: 13.255px;
  color: #6b7280;
  font-family: Inter, var(--default-font-family);
  font-size: 11px;
  font-weight: 400;
  line-height: 17.875px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 0.06px;
  z-index: 71;
}
.bullet-32 {
  position: absolute;
  width: 5.26px;
  height: 17.876px;
  top: 1.996px;
  left: 0;
  z-index: 69;
}
.transferencia-semanal-todas-as-segundas-feiras {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 18px;
  top: 0.15px;
  left: 0;
  color: #1b8a4a;
  font-family: Inter, var(--default-font-family);
  font-size: 11px;
  font-weight: 400;
  line-height: 17.875px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 0.06px;
  z-index: 70;
}
.text-33 {
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  height: 19.872px;
  z-index: 72;
}
.bullet-34 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 18px;
  top: 0.15px;
  left: 13.255px;
  color: #6b7280;
  font-family: Inter, var(--default-font-family);
  font-size: 11px;
  font-weight: 400;
  line-height: 17.875px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 0.06px;
  z-index: 75;
}
.acompanha-ganhos-em-tempo-real-na-app {
  position: absolute;
  width: 5.26px;
  height: 17.876px;
  top: 1.996px;
  left: 0;
  z-index: 73;
}
.text-15 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 18px;
  top: 0.15px;
  left: 0;
  color: #1b8a4a;
  font-family: Inter, var(--default-font-family);
  font-size: 11px;
  font-weight: 400;
  line-height: 17.875px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 0.06px;
  z-index: 74;
}
.section-12 {
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  height: 19.872px;
  z-index: 76;
}
.text-16 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 18px;
  top: 0.15px;
  left: 13.255px;
  color: #6b7280;
  font-family: Inter, var(--default-font-family);
  font-size: 11px;
  font-weight: 400;
  line-height: 17.875px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 0.06px;
  z-index: 79;
}
.text-35 {
  position: absolute;
  width: 5.26px;
  height: 17.876px;
  top: 1.996px;
  left: 0;
  z-index: 77;
}
.span {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 18px;
  top: 0.15px;
  left: 0;
  color: #1b8a4a;
  font-family: Inter, var(--default-font-family);
  font-size: 11px;
  font-weight: 400;
  line-height: 17.875px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 0.06px;
  z-index: 78;
}
.courier-login-36 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 11.999px;
  position: relative;
  height: 91.498px;
  padding: 7.996px 0 0 0;
  z-index: 80;
}
.label-37 {
  display: flex;
  align-items: flex-start;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 11.999px;
  position: relative;
  height: 35.751px;
  z-index: 81;
}
.button {
  flex-shrink: 0;
  position: relative;
  width: 19.995px;
  height: 19.995px;
  background: #ffffff;
  border: 0.72px solid #d1d5db;
  z-index: 82;
  border-radius: 4px;
}
.text-38 {
  flex-shrink: 0;
  position: relative;
  width: 309.998px;
  height: 35.751px;
  z-index: 83;
}
.accept-terms {
  position: relative;
  width: 269px;
  height: 36px;
  margin: 0.15px 0 0 0;
  font-family: Inter, var(--default-font-family);
  font-size: 11px;
  font-weight: 500;
  line-height: 17.875px;
  text-align: left;
  letter-spacing: 0.06px;
  z-index: 84;
}
.accept-terms-39 {
  position: relative;
  color: #6b7280;
  font-family: Inter, var(--default-font-family);
  font-size: 11px;
  font-weight: 500;
  line-height: 17.875px;
  text-align: left;
  letter-spacing: 0.06px;
}
.terms-conditions {
  position: relative;
  color: #1b8a4a;
  font-family: Inter, var(--default-font-family);
  font-size: 11px;
  font-weight: 500;
  line-height: 17.875px;
  text-align: left;
  letter-spacing: 0.06px;
}
.accept-terms-3a {
  position: relative;
  color: #6b7280;
  font-family: Inter, var(--default-font-family);
  font-size: 11px;
  font-weight: 500;
  line-height: 17.875px;
  text-align: left;
  letter-spacing: 0.06px;
}
.terms-conditions-3b {
  position: relative;
  color: #1b8a4a;
  font-family: Inter, var(--default-font-family);
  font-size: 11px;
  font-weight: 500;
  line-height: 17.875px;
  text-align: left;
  letter-spacing: 0.06px;
}
.goeverywhere-contract {
  position: relative;
  color: #6b7280;
  font-family: Inter, var(--default-font-family);
  font-size: 11px;
  font-weight: 500;
  line-height: 17.875px;
  text-align: left;
  letter-spacing: 0.06px;
}
.label-3c {
  display: flex;
  align-items: flex-start;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 11.999px;
  position: relative;
  height: 35.751px;
  z-index: 85;
}
.button-3d {
  flex-shrink: 0;
  position: relative;
  width: 19.995px;
  height: 19.995px;
  background: #ffffff;
  border: 0.72px solid #d1d5db;
  z-index: 86;
  border-radius: 4px;
}
.text-3e {
  flex-shrink: 0;
  position: relative;
  width: 309.998px;
  height: 35.751px;
  z-index: 87;
}
.authorize-data-processing {
  position: relative;
  width: 258px;
  height: 36px;
  margin: 0.15px 0 0 0;
  font-family: Inter, var(--default-font-family);
  font-size: 11px;
  font-weight: 500;
  line-height: 17.875px;
  text-align: left;
  letter-spacing: 0.06px;
  z-index: 88;
}
.authorize-data-processing-3f {
  position: relative;
  color: #6b7280;
  font-family: Inter, var(--default-font-family);
  font-size: 11px;
  font-weight: 500;
  line-height: 17.875px;
  text-align: left;
  letter-spacing: 0.06px;
}
.privacy-policy-rgpd {
  position: relative;
  color: #1b8a4a;
  font-family: Inter, var(--default-font-family);
  font-size: 11px;
  font-weight: 500;
  line-height: 17.875px;
  text-align: left;
  letter-spacing: 0.06px;
}
.privacy-policy-rgpd-40 {
  position: relative;
  color: #6b7280;
  font-family: Inter, var(--default-font-family);
  font-size: 11px;
  font-weight: 500;
  line-height: 17.875px;
  text-align: left;
  letter-spacing: 0.06px;
}
.courier-login-41 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 9.992px;
  position: relative;
  height: 181.852px;
  padding: 16.709px 16.709px 0.72px 16.709px;
  background: #ffffff;
  border: 0.72px solid #e5e7eb;
  z-index: 89;
  border-radius: 16px;
}
.paragraph-42 {
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  height: 15.992px;
  z-index: 90;
}
.application-summary {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 16px;
  top: 0.28px;
  left: 0;
  color: #6b7280;
  font-family: Poppins, var(--default-font-family);
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  text-align: left;
  white-space: nowrap;
  z-index: 91;
}
.container-43 {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  height: 16.496px;
  padding: 0 277.802px 0 0;
  z-index: 92;
}
.text-44 {
  flex-shrink: 0;
  position: relative;
  width: 30.772px;
  height: 16.496px;
  z-index: 93;
}
.name {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 17px;
  top: 0.44px;
  left: 0;
  color: #9ca3af;
  font-family: Inter, var(--default-font-family);
  font-size: 11px;
  font-weight: 400;
  line-height: 16.5px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 0.06px;
  z-index: 94;
}
.container-45 {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  height: 16.496px;
  padding: 0 0px 0 0;
  z-index: 95;
}
.text-46 {
  flex-shrink: 0;
  position: relative;
  width: 28.013px;
  height: 16.496px;
  z-index: 96;
}
.email {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 17px;
  top: 0.44px;
  left: 0;
  color: #9ca3af;
  font-family: Inter, var(--default-font-family);
  font-size: 11px;
  font-weight: 400;
  line-height: 16.5px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 0.06px;
  z-index: 97;
}
.text-47 {
  flex-shrink: 0;
  position: relative;
  width: 9.678px;
  height: 16.496px;
  z-index: 98;
  overflow: hidden;
}
.dash {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  position: absolute;
  width: 11px;
  height: 17px;
  top: 0.44px;
  left: -1px;
  color: #374151;
  font-family: Inter, var(--default-font-family);
  font-size: 11px;
  font-weight: 400;
  line-height: 16.5px;
  text-align: right;
  white-space: nowrap;
  letter-spacing: 0.06px;
  z-index: 99;
}
.container-48 {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  height: 16.496px;
  padding: 0 0px 0 0;
  z-index: 100;
}
.text-49 {
  flex-shrink: 0;
  position: relative;
  width: 44.689px;
  height: 16.496px;
  z-index: 101;
}
.telefone {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 17px;
  top: 0.44px;
  left: 0;
  color: #9ca3af;
  font-family: Inter, var(--default-font-family);
  font-size: 11px;
  font-weight: 400;
  line-height: 16.5px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 0.06px;
  z-index: 102;
}
.text-4a {
  flex-shrink: 0;
  position: relative;
  width: 9.678px;
  height: 16.496px;
  z-index: 103;
  overflow: hidden;
}
.dash-4b {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  position: absolute;
  width: 11px;
  height: 17px;
  top: 0.44px;
  left: -1px;
  color: #374151;
  font-family: Inter, var(--default-font-family);
  font-size: 11px;
  font-weight: 400;
  line-height: 16.5px;
  text-align: right;
  white-space: nowrap;
  letter-spacing: 0.06px;
  z-index: 104;
}
.container-4c {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  height: 16.496px;
  padding: 0 0px 0 0;
  z-index: 105;
}
.text-4d {
  flex-shrink: 0;
  position: relative;
  width: 38.174px;
  height: 16.496px;
  z-index: 106;
}
.veiculo {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 17px;
  top: 0.44px;
  left: 0;
  color: #9ca3af;
  font-family: Inter, var(--default-font-family);
  font-size: 11px;
  font-weight: 400;
  line-height: 16.5px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 0.06px;
  z-index: 107;
}
.text-4e {
  flex-shrink: 0;
  position: relative;
  width: 29.079px;
  height: 16.496px;
  z-index: 108;
  overflow: hidden;
}
.carro {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  position: absolute;
  width: 30px;
  height: 17px;
  top: 0.44px;
  left: 0;
  color: #374151;
  font-family: Inter, var(--default-font-family);
  font-size: 11px;
  font-weight: 400;
  line-height: 16.5px;
  text-align: right;
  white-space: nowrap;
  letter-spacing: 0.06px;
  z-index: 109;
}
.container-4f {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  height: 16.496px;
  padding: 0 0px 0 0;
  z-index: 110;
}
.text-50 {
  flex-shrink: 0;
  position: relative;
  width: 32.174px;
  height: 16.496px;
  z-index: 111;
}
.zonas {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 17px;
  top: 0.44px;
  left: 0;
  color: #9ca3af;
  font-family: Inter, var(--default-font-family);
  font-size: 11px;
  font-weight: 400;
  line-height: 16.5px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 0.06px;
  z-index: 112;
}
.text-51 {
  flex-shrink: 0;
  position: relative;
  width: 9.678px;
  height: 16.496px;
  z-index: 113;
  overflow: hidden;
}
.dash-52 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  position: absolute;
  width: 11px;
  height: 17px;
  top: 0.44px;
  left: -1px;
  color: #374151;
  font-family: Inter, var(--default-font-family);
  font-size: 11px;
  font-weight: 400;
  line-height: 16.5px;
  text-align: right;
  white-space: nowrap;
  letter-spacing: 0.06px;
  z-index: 114;
}
.courier-login-53 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: 11.999px;
  position: relative;
  width: 341.992px;
  height: 126.958px;
  margin: 0 0 0 23.999px;
  padding: 15.992px 0 0 0;
  z-index: 115;
}
.link {
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  min-width: 0;
  height: 51.967px;
  background: #1b8a4a;
  z-index: 116;
  border-radius: 16px;
  box-shadow: 0 8px 24px 0 rgba(27, 138, 74, 0.25);
}
.submeter-candidatura {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 20px;
  top: 15.992px;
  left: 77.513px;
  color: #ffffff;
  font-family: Poppins, var(--default-font-family);
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  text-align: left;
  white-space: nowrap;
  z-index: 117;
}
.icon-54 {
  position: absolute;
  width: 15.992px;
  height: 15.992px;
  top: 17.988px;
  left: 248.476px;
  background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2026-04-01/aDGbOXadZA.png)
    no-repeat center;
  background-size: cover;
  z-index: 118;
  overflow: hidden;
}
.paragraph-55 {
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  min-width: 0;
  height: 15.005px;
  z-index: 119;
}
.passo-de {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 63px;
  height: 15px;
  top: 0.44px;
  left: 139.719px;
  color: #d1d5db;
  font-family: Inter, var(--default-font-family);
  font-size: 10px;
  font-weight: 400;
  line-height: 15px;
  text-align: center;
  white-space: nowrap;
  letter-spacing: 0.12px;
  z-index: 120;
}
.container-56 {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 7.996px;
  position: absolute;
  width: 174px;
  height: 58px;
  top: 19px;
  left: 213px;
  z-index: 131;
}
.image {
  flex-shrink: 0;
  position: relative;
  width: 47px;
  height: 44px;
  background: rgba(255, 255, 255, 0)
    url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2026-04-01/QtUZ6SvLV4.png)
    no-repeat center;
  background-size: cover;
  z-index: 132;
  overflow: hidden;
  border-radius: 19.995px;
}
.text-57 {
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 104.159px;
  height: 19.984px;
  z-index: 133;
}
.go-everywhere-58 {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 20px;
  color: #111827;
  font-family: Poppins, var(--default-font-family);
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  text-align: left;
  white-space: nowrap;
  z-index: 134;
}
